<script src="{{ 'counter.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{'cart-counter.css' |  asset_url}}">

<div class="timer" id="timer">
  <div class="time-days time">
    <span class="days"></span>
    <span class="timer-title">Days</span>
  </div>
  <span class="col">:</span>
  <div class="time-hours time">
    <span class="hours"></span>
    <span class="timer-title">Hours</span>
  </div>
  <span class="col">:</span>
  <div class="time-mins time">
    <span class="mins"></span>
    <span class="timer-title">Mins</span>
  </div>
  <span class="col">:</span>
  <div class="time-secs time">
    <span class="secs"></span>
    <span class="timer-title">Sec</span>
  </div>
</div>