<link rel="stylesheet" href="{{ 'shipping-bar.css' |  asset_url }}">
{% liquid
    assign free_shipping = settings.free_shipping | times: 1
    assign cart_price = cart.total_price | divided_by: 100
    assign change = free_shipping | minus: cart_price
    assign perc_change = 100
    if change > 0
      assign perc_change = change | times: 100 | divided_by: free_shipping
      assign perc_change = 100 | minus: perc_change
    endif
  %}
  
{%  style  %} 
.shipping-bar__indicator{
  width:{{ perc_change }}%;
}
{% endstyle %} 


  
{% if perc_change < 100 %}
  <div class="shipping-bar">
    <div class="shipping-bar__message">
     <p>
        Spent more <strong>{{ change | times: 100 | money }}</strong> extra for free shipping!
      </p>
    </div>
    <div class="shipping-bar__wrapper">
      <div class="shipping-bar__indicator"></div>
    </div>
    
  </div>
  {%  else  %}
    <div class="shipping-bar__message">
      <p><strong>Yay!!</strong> you unlocked <strong>free shipping</strong></p>
    </div> 
{% endif %}
