.product-price-decorator{
  height:5px;
  width:5px;
  border-radius:50%;
  color:black;
}

.quantity-and-cart-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.quantity{
  box-shadow: rgba(18, 18, 18, 0) 0px 0px 0px 0px;
  margin-bottom: 10px;
}
.cart-btn{
  position:relative;
}

.cart-btn::before{
  position: absolute;
  top:0;
  left:0;
  width:0;
  height:100;
  background-color:rgb(208,63,60)
  transition: all 0.35s ease-in-out
}

.cart-btn:hover::before{
  width:100%;
}