.counter-section__wrapper {
  display: flex;
  justify-content: space-between;
}

.counter-section__text-container {
  width: 40%;
}

.counter-section__description {
  max-width: 500px;
}

.counter-section__countdown-timer {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  justify-content: end;
  width: 50%;
}
.counter-section__countdown-timer .col {
  font-weight: bold;
  font-size: 18px;
}

.time {
  position: relative;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  width: 140px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.days,
.hours,
.mins,
.secs {
  font-size: 46px;
  color: rgb(0, 0, 0);
}

.timer-title {
  margin-top: 5px;
  color: rgb(0, 0, 0);
}
/* .time:nth-last-child(n + 2)::after {
  content: ":";
} */
@media (max-width: 750px) {
  .counter-section__wrapper {
    flex-direction: column;
  }
  .counter-section__text-container {
    width: 100%;
  }
  .counter-section__wrapper {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
  }
  .days,
  .hours,
  .mins,
  .secs {
    font-size: 22px;
    color: rgb(0, 0, 0);
  }
  .time {
    /* min-width: 60px; */
    padding: 7px 0;
    box-sizing: border-box;
    gap: 0;
  }
  .counter-section__countdown-timer {
    gap: 15px;
    /* width: 100%; */
    justify-content: flex-start;
  }
  .timer-title {
    margin-top: 0;
    color: rgb(0, 0, 0);
  }
}

.counter-section__button {
  padding: 5px 15px;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 122px;
  max-height: 44px;
  margin-top: 30px;
  overflow: hidden;
}

.counter-section__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(208, 63, 60);
  transition: all 0.25s ease-in-out;
  border-radius: 30px;
}

.counter-section__button span {
  z-index: 10;
}

.counter-section__button:hover::before {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .time {
    min-width: 85px;
    padding: 12px 0;
  }
}

@media screen and (max-width: 576px) {
  .time {
    min-width: 60px;
    padding: 7px 0;
  }
  .days,
  .hours,
  .mins,
  .secs {
    font-size: 20px;
  }
}
