.featured-grid__section {
  position: relative;
  overflow: hidden;
}

.featured-grid__section-text-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.featured-grid__section-title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  margin-block-end: 20px;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}
.featured-grid__button {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(18, 18, 18, 0) 0px 0px 0px 0px;
}

.featured-grid__button span {
  overflow: hidden;
  padding: 5px 15px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  z-index: 2;
  position: relative;
}
.featured-grid__button span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  background-color: rgb(245, 245, 245);
  transition: all 0.35s ease-in-out;
  z-index: -1;
}

.featured-grid__button span:hover::before {
  width: 100%;
}

.featured-grid__button {
  .featured-grid__button span {
    color: red;
  }
}

.featured-grid__section-image img {
  transition: all 0.35s ease-in-out;
  overflow: hidden;
  border-radius: 16px;
  height: 350px;
  transform: scale(1);
}
.featured-grid__section:hover {
  .featured-grid__section-image img {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 991px) {
  .featured-grid__section-title {
    text-align: center;
  }
}
