.background-image {
  position: relative;
}
.hero-banner__text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.hero-banner__text-content {
  max-width: 545px;
  min-width: 450px;
  width: 545px;
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  height: 311.8px;
  margin-bottom: 70px;
}
.center {
  justify-content: center;
  align-items: center;
}
.top-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.top-right {
  justify-content: flex-start;
  align-items: flex-end;
}
.center-left {
  justify-content: center;
  align-items: flex-start;
}
.center-right {
  justify-content: center;
  align-items: flex-end;
}
.bottom-left {
  justify-content: flex-end;
  align-items: flex-start;
}
.bottom-center {
  justify-content: flex-end;
  align-items: center;
}
.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-banner .splide__slide {
  border-radius: 20px;
  width: calc(100%);
  overflow: hidden;
}

.hero-banner .splide__arrow {
  top: unset;
  bottom: -2px;
  background: transparent;
}
.hero-banner .splide__arrow svg,
.hero-banner .splide__arrow svg::before,
.hero-banner .splide__arrow svg::after {
  fill: white;
}

.hero-banner .splide__arrow--next {
  right: 40%;
}
.hero-banner .splide__arrow--prev {
  left: 40%;
}
.hero-banner .splide__pagination__page.is-active {
  background: #fff;
  transform: scale(1.4);
  width: 20px;
  border-radius: 10px;
}
.hero-banner .splide__pagination__page {
  background: transparent;
  border: 1px solid white;
  opacity: 1;
}

.hero-banner .splide__pagination {
  bottom: 1em;
  gap: 10px;
}

.hero-banner__title {
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 52px;
  margin-bottom: 5px;
  scrollbar-color: rgb(0, 0, 0) rgba(0, 0, 0, 0.4);
}
.hero-banner__button {
  color: #000;
  padding: 5px 15px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 31px;
  background-color: #fff;
  min-height: 44px;
  box-shadow: #12121200 0 0;
  min-width: 122px;
  line-height: 28.8px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner__button ::before {
  content: "";
  position: absolute;
  border-radius: 31px;
  top: 0px;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

.hero-banner__button:hover::before {
  width: 100%;
}

.hero-banner__button {
  margin-top: 30px;
  scrollbar-color: rgb(0, 0, 0) rgba(0, 0, 0, 0.4);
  line-height: 28.8px;
}

.text-align-center {
  align-items: center;
}
.text-align-left {
  align-items: flex-start;
}

.text-align-right {
  align-items: flex-end;
}

@media screen and (max-width: 840px) {
  .hero-banner__title {
    font-size: 26px;
    line-height: normal;
  }
  .top-left,
  .top-right,
  .bottom-center,
  .bottom-left,
  .bottom-right,
  .center-left,
  .center-right {
    justify-content: center;
    align-items: center;
  }

  .text-align-center,
  .text-align-left,
  .text-align-right {
    text-align: center;
  }
  .hero-banner__text-content {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .hero-banner .splide__slide {
    min-height: 300px;
    border-radius: 20px;
    overflow: hidden;
  }

  .hero-banner .splide__arrow--next {
    right: 30%;
  }
  .hero-banner .splide__arrow--prev {
    left: 30%;
  }
  .hero-banner .slide__details {
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
