.product-card-image {
  position: relative;
}

.card-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}

.product-card-button {
  overflow: hidden;
  color: rgb(255, 255, 255);
  display: flex;
  padding: 5px 15px;
  border: 1px solid rgb(255, 255, 255);
  background-clip: border-box;
  border-radius: 31px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  box-shadow: rgba(18, 18, 18, 0) 0px 0px 0px 0px;
  width: fit-content;
  position: relative;
}

.product-card-button span {
  z-index: 10;
}

.product-card-button::before {
  content: "";
  position: absolute;
  background-color: rgb(208, 60, 63);
  /* border: 1px solid red; */
  top: 0px;
  left: 0;
  width: 0%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  /* z-index: -1; */
  border-radius: 31px;
}

.product-card-button:hover::before {
  width: 100%;
}

.product-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.arrival-tag {
  background-color: #22750e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

.discount-tag {
  border-radius: 20px;
  background-color: rgb(221, 29, 29);
  padding: 4px 8px;
  font-size: 11px;
  color: rgb(255, 255, 255);
}

.product-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-price {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 8px;
}

.product-vendor {
  font-size: 14px;
}

.product-card-title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 23.4px;
  color: rgb(0, 0, 0);
  margin-bottom: 0;
  text-align: center;
}

.regular-price {
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.compare-price {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.product-variants {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.product-card__options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.product-card .media:hover {
  .image-1 {
    opacity: 0;
  }
  .image-2 {
    opacity: 1;
  }
}

.product-card__swatch {
  display: block;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgb(var(--color-background)) inset;
  cursor: pointer;
  position: relative;
}

.product-card__label {
  position: relative;
  display: block;
}

.product-card__label input {
  position: absolute;
  display: none;
}

.product-card__form {
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card-svg {
  display: none;
  width: 34px;
  height: 34px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.product-card-svg svg {
  fill: rgb(255, 255, 255);
  height: 19px;
  width: 19px;
}

.product-card .media {
  border-radius: 16px;
  overflow: hidden;
}

@media screen and (max-width: 766px) {
  .product-card-svg {
    display: flex;
  }
  .product-card-button {
    display: none;
  }
  .product-price {
    flex-direction: column;
  }
  .regular-price {
    font-size: 16px;
  }
}
